@page "/test"

@using System.Buffers.Binary
@using System.Collections
@using System.Text
@using System.Text.Json
@using WerewolfAchievementViewer.Components
@using WerewolfAchievementViewer.Werewolf

<PageTitle>Player Achievements</PageTitle>

<div class="test-container">
    <div class="test-header-container">
        <h1>Test</h1>
        <p>Test add or remove achievements.</p>
    </div>

    <div class="test-select-container">
        <select class="form-select" @bind="@selectedAchievementId">
            @foreach (var Item in Enum.GetValues<AchievementId>())
            {
                <option value="@Item">@Item</option>
            }
        </select>

        <div>
            <div>Selected item: @selectedAchievementId.GetName()</div>
            <small>@selectedAchievementId.GetDescription()</small>
        </div>
    </div>

    <div class="test-buttons">
        <button type="button" class="btn btn-primary" @onclick="AddItem">Add selected item</button>
        <button type="button" class="btn btn-primary" @onclick="AddAllItems">Add all items</button>
        <button type="button" class="btn btn-danger" @onclick="RemoveAllItems">Remove all items</button>
    </div>

    <div class="test-achs-container">
        <div class="test-achived-container achs-container">
            <div class="test-achs-header">
                <h2>Achieved:</h2>
                <NavLink href="@url" target="_blank">View</NavLink>
            </div>

            @{
                RenderFragment? render(AchievementId achievementId)
                {
                    RenderFragment fragment = __builder =>
                    {
                        <button type="button" class="btn-close" aria-label="Close" @onclick="() => RemoveItem(achievementId)"></button>
                    };
                    return fragment;
                }
            }

            <Achievements AchievementIds="currentBitArray.GetUniqueFlags()" OnAchievementId="@render" />
        </div>

        <div class="test-not-achived-container achs-container">
            <div class="test-achs-header">
                <h2>Missing:</h2>
            </div>

            @{
                var items = Enum.GetValues<AchievementId>().Where(x => !currentBitArray.HasFlag(x));
            }
            <Achievements AchievementIds="@items" />
        </div>
    </div>
</div>

@code {
    AchievementId selectedAchievementId;
    BitArray currentBitArray = new BitArray(200);

    string url => $"./achs/{Uri.EscapeDataString(currentBitArray.ToBase64String())}";

    void AddItem(AchievementId achievementId)
    {
        if (!currentBitArray.HasFlag(achievementId))
        {
            currentBitArray.Set(achievementId);
            InvokeAsync(StateHasChanged);
        }
    }

    void AddItem()
    {
        AddItem(selectedAchievementId);
    }

    void AddAllItems()
    {
        @foreach (var achievementId in Enum.GetValues<AchievementId>())
        {
            AddItem(achievementId);
        }

        InvokeAsync(StateHasChanged);
    }

    void RemoveAllItems()
    {
        currentBitArray = new(200);
        InvokeAsync(StateHasChanged);
    }

    void RemoveItem(AchievementId achievementId)
    {
        if (currentBitArray.HasFlag(achievementId))
        {
            currentBitArray.Unset(achievementId);
            InvokeAsync(StateHasChanged);
        }
    }
}
